@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* Create your custom class */
.cormorant-font {
  font-family: "Cormorant", serif;
}
.source-serif-4- {
  font-family: "Source Serif 4", serif;
}
.Merriweather {
  font-family: "Merriweather", serif;
}
.karla {
  font-family: "Karla", sans-serif;
}


@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-flow 3s ease infinite;
}

.orbit-text {
  transform: rotate(-90deg);
  white-space: nowrap;
}
